// Tests for the [[ .fragmenta_resources ]] package
package [[ .fragmenta_resources ]]

import (
	"testing"

	"github.com/fragmenta/fragmenta-cms/src/lib/resource"
)

var testName = "foo"

func TestSetup(t *testing.T) {
	err := resource.SetupTestDatabase(2)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Setup db failed %s", err)
	}
}

// Test Create method
func TestCreate[[ .Fragmenta_Resource ]](t *testing.T) {
	[[ .fragmenta_resource ]]Params := map[string]string{
			"name":      testName,
			"status":    "100",
	}

	id, err := New().Create([[ .fragmenta_resource ]]Params)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Create [[ .fragmenta_resource ]] failed :%s", err)
	}

	[[ .fragmenta_resource ]], err := Find(id)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Create [[ .fragmenta_resource ]] find failed")
	}

	if [[ .fragmenta_resource ]].Name != testName {
		t.Fatalf("[[ .fragmenta_resources ]]: Create [[ .fragmenta_resource ]] name failed expected:%s got:%s", testName, [[ .fragmenta_resource ]].Name)
	}

}

// Test Index (List) method
func TestList[[ .Fragmenta_Resources ]](t *testing.T) {

	// Get all [[ .fragmenta_resources ]] (we should have at least one)
	results, err := FindAll(Query())
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: List no [[ .fragmenta_resource ]] found :%s", err)
	}

	if len(results) < 1 {
		t.Fatalf("[[ .fragmenta_resources ]]: List no [[ .fragmenta_resources ]] found :%s", err)
	}

}

// Test Update method
func TestUpdate[[ .Fragmenta_Resource ]](t *testing.T) {

	// Get the last [[ .fragmenta_resource ]] (created in TestCreate[[ .Fragmenta_Resource ]] above)
	[[ .fragmenta_resource ]], err := FindFirst("name=?", testName)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Update no [[ .fragmenta_resource ]] found :%s", err)
	}

	name := "bar"
	[[ .fragmenta_resource ]]Params := map[string]string{"name": name}
	err = [[ .fragmenta_resource ]].Update([[ .fragmenta_resource ]]Params)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Update [[ .fragmenta_resource ]] failed :%s", err)
	}

	// Fetch the [[ .fragmenta_resource ]] again from db
	[[ .fragmenta_resource ]], err = Find([[ .fragmenta_resource ]].ID)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Update [[ .fragmenta_resource ]] fetch failed :%s", [[ .fragmenta_resource ]].Name)
	}

	if [[ .fragmenta_resource ]].Name != name {
		t.Fatalf("[[ .fragmenta_resources ]]: Update [[ .fragmenta_resource ]] failed :%s", [[ .fragmenta_resource ]].Name)
	}

}

// TestQuery tests trying to find published resources
func TestQuery(t *testing.T) {

	results, err := FindAll(Published())
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: error getting [[ .fragmenta_resources ]] :%s", err)
	}
	if len(results) == 0 {
		t.Fatalf("[[ .fragmenta_resources ]]: published [[ .fragmenta_resources ]] not found :%s", err)
	}

	results, err = FindAll(Query().Where("id>=? AND id <=?", 0, 100))
	if err != nil || len(results) == 0 {
		t.Fatalf("[[ .fragmenta_resources ]]: no [[ .fragmenta_resource ]] found :%s", err)
	}
	if len(results) > 1 {
		t.Fatalf("[[ .fragmenta_resources ]]: more than one [[ .fragmenta_resource ]] found for where :%s", err)
	}

}

// Test Destroy method
func TestDestroy[[ .Fragmenta_Resource ]](t *testing.T) {

	results, err := FindAll(Query())
	if err != nil || len(results) == 0 {
		t.Fatalf("[[ .fragmenta_resources ]]: Destroy no [[ .fragmenta_resource ]] found :%s", err)
	}
	[[ .fragmenta_resource ]] := results[0]
	count := len(results)

	err = [[ .fragmenta_resource ]].Destroy()
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Destroy [[ .fragmenta_resource ]] failed :%s", err)
	}

	// Check new length of [[ .fragmenta_resources ]] returned
	results, err = FindAll(Query())
	if err != nil {
		t.Fatalf("[[ .fragmenta_resources ]]: Destroy error getting results :%s", err)
	}

	// length should be one less than previous
	if len(results) != count-1 {
		t.Fatalf("[[ .fragmenta_resources ]]: Destroy [[ .fragmenta_resource ]] count wrong :%d", len(results))
	}

}


// TestAllowedParams should always return some params
func TestAllowedParams(t *testing.T) {
	if len(AllowedParams()) == 0 {
		t.Fatalf("[[ .fragmenta_resources ]]: no allowed params")
	}
}
