package [[ .fragmenta_resource ]]actions

import (
	"fmt"
	"net/http"
	"net/http/httptest"
	"net/url"
	"strings"
	"testing"

	"github.com/fragmenta/mux"
	"github.com/fragmenta/query"

	"github.com/fragmenta/fragmenta-cms/src/lib/resource"
	"github.com/fragmenta/fragmenta-cms/src/[[ .fragmenta_resources ]]"
)

// names is used to test setting and getting the first string field of the [[ .fragmenta_resource ]].
var names = []string{"foo", "bar"}

// testSetup performs setup for integration tests
// using the test database, real views, and mock authorisation
// If we can run this once for global tests it might be more efficient?
func TestSetup(t *testing.T) {
	err := resource.SetupTestDatabase(3)
	if err != nil {
		fmt.Printf("[[ .fragmenta_resources ]]: Setup db failed %s", err)
	}

	// Set up mock auth
	resource.SetupAuthorisation()

	// Load templates for rendering
	resource.SetupView(3)

	router := mux.New()
	mux.SetDefault(router)

	// FIXME - Need to write routes out here again, but without pkg prefix
	// Any neat way to do this instead? We'd need a separate routes package under app...
	router.Add("/[[ .fragmenta_resources ]]", nil)
	router.Add("/[[ .fragmenta_resources ]]/create", nil)
	router.Add("/[[ .fragmenta_resources ]]/create", nil).Post()
	router.Add("/[[ .fragmenta_resources ]]/login", nil)
	router.Add("/[[ .fragmenta_resources ]]/login", nil).Post()
	router.Add("/[[ .fragmenta_resources ]]/login", nil).Post()
	router.Add("/[[ .fragmenta_resources ]]/logout", nil).Post()
	router.Add("/[[ .fragmenta_resources ]]/{id:\\d+}/update", nil)
	router.Add("/[[ .fragmenta_resources ]]/{id:\\d+}/update", nil).Post()
	router.Add("/[[ .fragmenta_resources ]]/{id:\\d+}/destroy", nil).Post()
	router.Add("/[[ .fragmenta_resources ]]/{id:\\d+}", nil)

	// Delete all [[ .fragmenta_resources ]] to ensure we get consistent results
	query.ExecSQL("delete from [[ .fragmenta_resources ]];")
	query.ExecSQL("ALTER SEQUENCE [[ .fragmenta_resources ]]_id_seq RESTART WITH 1;")
}

// Test GET /[[ .fragmenta_resources ]]/create
func TestShowCreate[[ .Fragmenta_Resources ]](t *testing.T) {
	
	// Setup request and recorder
	r := httptest.NewRequest("GET", "/[[ .fragmenta_resources ]]/create", nil)
	w := httptest.NewRecorder()

	// Set up [[ .fragmenta_resource ]] session cookie for admin [[ .fragmenta_resource ]] above
	err := resource.AddUserSessionCookie(w, r, 1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error setting session %s", err)
	}

	// Run the handler
	err = HandleCreateShow(w, r)

	// Test the error response
	if err != nil || w.Code != http.StatusOK {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error handling HandleCreateShow %s", err)
	}

	// Test the body for a known pattern
	pattern := "resource-update-form"
	if !strings.Contains(w.Body.String(), pattern) {
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response for HandleCreateShow expected:%s got:%s", pattern, w.Body.String())
	}

}

// Test POST /[[ .fragmenta_resources ]]/create
func TestCreate[[ .Fragmenta_Resources ]](t *testing.T) {
	
	form := url.Values{}
	form.Add("name", names[0])
	body := strings.NewReader(form.Encode())

	r := httptest.NewRequest("POST", "/[[ .fragmenta_resources ]]/create", body)
	r.Header.Add("Content-Type", "application/x-www-form-urlencoded")
	w := httptest.NewRecorder()

	// Set up [[ .fragmenta_resource ]] session cookie for admin [[ .fragmenta_resource ]]
	err := resource.AddUserSessionCookie(w, r, 1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error setting session %s", err)
	}

	// Run the handler to update the [[ .fragmenta_resource ]]
	err = HandleCreate(w, r)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error handling HandleCreate %s", err)
	}

	// Test we get a redirect after update (to the [[ .fragmenta_resource ]] concerned)
	if w.Code != http.StatusFound {
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response code for HandleCreate expected:%d got:%d", http.StatusFound, w.Code)
	}

	// Check the [[ .fragmenta_resource ]] name is in now value names[1]
	all[[ .Fragmenta_Resources ]], err := [[ .fragmenta_resources ]].FindAll([[ .fragmenta_resources ]].Query().Order("id desc"))
	if err != nil || len(all[[ .Fragmenta_Resources ]]) == 0 {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error finding created [[ .fragmenta_resource ]] %s", err)
	}
	new[[ .Fragmenta_Resources ]] := all[[ .Fragmenta_Resources ]][0]
	if new[[ .Fragmenta_Resources ]].ID != 1 || new[[ .Fragmenta_Resources ]].Name != names[0] {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error with created [[ .fragmenta_resource ]] values: %v %s", new[[ .Fragmenta_Resources ]].ID, new[[ .Fragmenta_Resources ]].Name)
	}
}

// Test GET /[[ .fragmenta_resources ]]
func TestList[[ .Fragmenta_Resources ]](t *testing.T) {

	// Setup request and recorder
	r := httptest.NewRequest("GET", "/[[ .fragmenta_resources ]]", nil)
	w := httptest.NewRecorder()

	// Set up [[ .fragmenta_resource ]] session cookie for admin [[ .fragmenta_resource ]] above
	err := resource.AddUserSessionCookie(w, r, 1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error setting session %s", err)
	}

	// Run the handler
	err = HandleIndex(w, r)

	// Test the error response
	if err != nil || w.Code != http.StatusOK {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error handling HandleIndex %s", err)
	}

	// Test the body for a known pattern
	pattern := "data-table-head"
	if !strings.Contains(w.Body.String(), pattern) {
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response for HandleIndex expected:%s got:%s", pattern, w.Body.String())
	}

}

// Test of GET /[[ .fragmenta_resources ]]/1
func TestShow[[ .Fragmenta_Resources ]](t *testing.T) {
	
	// Setup request and recorder
	r := httptest.NewRequest("GET", "/[[ .fragmenta_resources ]]/1", nil)
	w := httptest.NewRecorder()

	// Set up [[ .fragmenta_resource ]] session cookie for admin [[ .fragmenta_resource ]] above
	err := resource.AddUserSessionCookie(w, r, 1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error setting session %s", err)
	}

	// Run the handler
	err = HandleShow(w, r)

	// Test the error response
	if err != nil || w.Code != http.StatusOK {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error handling HandleShow %s", err)
	}

	// Test the body for a known pattern
	pattern := names[0]
	if !strings.Contains(w.Body.String(), names[0]) {
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response for HandleShow expected:%s got:%s", pattern, w.Body.String())
	}
}

// Test GET /[[ .fragmenta_resources ]]/123/update
func TestShowUpdate[[ .Fragmenta_Resources ]](t *testing.T) {

	// Setup request and recorder
	r := httptest.NewRequest("GET", "/[[ .fragmenta_resources ]]/1/update", nil)
	w := httptest.NewRecorder()

	// Set up [[ .fragmenta_resource ]] session cookie for admin [[ .fragmenta_resource ]] above
	err := resource.AddUserSessionCookie(w, r, 1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error setting session %s", err)
	}

	// Run the handler
	err = HandleUpdateShow(w, r)

	// Test the error response
	if err != nil || w.Code != http.StatusOK {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error handling HandleCreateShow %s", err)
	}

	// Test the body for a known pattern
	pattern := "resource-update-form"
	if !strings.Contains(w.Body.String(), pattern) {
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response for HandleCreateShow expected:%s got:%s", pattern, w.Body.String())
	}

}

// Test POST /[[ .fragmenta_resources ]]/123/update
func TestUpdate[[ .Fragmenta_Resources ]](t *testing.T) {

	form := url.Values{}
	form.Add("name", names[1])
	body := strings.NewReader(form.Encode())

	r := httptest.NewRequest("POST", "/[[ .fragmenta_resources ]]/1/update", body)
	r.Header.Add("Content-Type", "application/x-www-form-urlencoded")
	w := httptest.NewRecorder()

	// Set up [[ .fragmenta_resource ]] session cookie for admin [[ .fragmenta_resource ]]
	err := resource.AddUserSessionCookie(w, r, 1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error setting session %s", err)
	}

	// Run the handler to update the [[ .fragmenta_resource ]]
	err = HandleUpdate(w, r)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error handling HandleUpdate[[ .Fragmenta_Resources ]] %s", err)
	}

	// Test we get a redirect after update (to the [[ .fragmenta_resource ]] concerned)
	if w.Code != http.StatusFound {
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response code for HandleUpdate[[ .Fragmenta_Resources ]] expected:%d got:%d", http.StatusFound, w.Code)
	}

	// Check the [[ .fragmenta_resource ]] name is in now value names[1]
	[[ .fragmenta_resource ]], err := [[ .fragmenta_resources ]].Find(1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error finding updated [[ .fragmenta_resource ]] %s", err)
	}
	if [[ .fragmenta_resource ]].ID != 1 || [[ .fragmenta_resource ]].Name != names[1] {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error with updated [[ .fragmenta_resource ]] values: %v", [[ .fragmenta_resource ]])
	}

}

// Test of POST /[[ .fragmenta_resources ]]/123/destroy
func TestDelete[[ .Fragmenta_Resources ]](t *testing.T) {

	body := strings.NewReader(``)

	// Now test deleting the [[ .fragmenta_resource ]] created above as admin
	r := httptest.NewRequest("POST", "/[[ .fragmenta_resources ]]/1/destroy", body)
	r.Header.Add("Content-Type", "application/x-www-form-urlencoded")
	w := httptest.NewRecorder()

	// Set up [[ .fragmenta_resource ]] session cookie for admin [[ .fragmenta_resource ]]
	err := resource.AddUserSessionCookie(w, r, 1)
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error setting session %s", err)
	}

	// Run the handler
	err = HandleDestroy(w, r)

	// Test the error response is 302 StatusFound
	if err != nil {
		t.Fatalf("[[ .fragmenta_resource ]]actions: error handling HandleDestroy %s", err)
	}

	// Test we get a redirect after delete
	if w.Code != http.StatusFound {
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response code for HandleDestroy expected:%d got:%d", http.StatusFound, w.Code)
	}
	// Now test as anon
	r = httptest.NewRequest("POST", "/[[ .fragmenta_resources ]]/1/destroy", body)
	r.Header.Add("Content-Type", "application/x-www-form-urlencoded")
	w = httptest.NewRecorder()

	// Run the handler to test failure as anon
	err = HandleDestroy(w, r)
	if err == nil { // failure expected
		t.Fatalf("[[ .fragmenta_resource ]]actions: unexpected response for HandleDestroy as anon, expected failure")
	}

}
