package [[ .fragmenta_resource ]]actions

import (
	"net/http"

	"github.com/fragmenta/auth/can"
	"github.com/fragmenta/mux"
	"github.com/fragmenta/server"

	"github.com/fragmenta/fragmenta-cms/src/lib/session"
	"github.com/fragmenta/fragmenta-cms/src/[[ .fragmenta_resources ]]"
)

// HandleDestroy responds to /[[ .fragmenta_resources ]]/n/destroy by deleting the [[ .fragmenta_resource ]].
func HandleDestroy(w http.ResponseWriter, r *http.Request) error {

	// Fetch the  params
	params, err := mux.Params(r)
	if err != nil {
		return server.InternalError(err)
	}
	
	// Find the [[ .fragmenta_resource ]]
	[[ .fragmenta_resource ]], err := [[ .fragmenta_resources ]].Find(params.GetInt([[ .fragmenta_resources ]].KeyName))
	if err != nil {
		return server.NotFoundError(err)
	}

	// Check the authenticity token
	err = session.CheckAuthenticity(w, r)
	if err != nil {
		return err
	}

	// Authorise destroy [[ .fragmenta_resource ]]
	user := session.CurrentUser(w, r)
	err = can.Destroy([[ .fragmenta_resource ]], user)
	if err != nil {
		return server.NotAuthorizedError(err)
	}

	// Destroy the [[ .fragmenta_resource ]]
	[[ .fragmenta_resource ]].Destroy()

	// Redirect to [[ .fragmenta_resources ]] root
	return server.Redirect(w, r, [[ .fragmenta_resource ]].IndexURL())

}
