package [[ .fragmenta_resource ]]actions

import (
	"net/http"

	"github.com/fragmenta/model/url"
	"github.com/fragmenta/router"
	"github.com/fragmenta/view"

	"[[ .fragmenta_app_path ]]/[[ .fragmenta_resources ]]"
    "[[ .fragmenta_app_path ]]/lib/authorise"
)

// HandleDestroy handles a DESTROY request for [[ .fragmenta_resources ]]
func HandleDestroy(context router.Context) {

	// Set the [[ .fragmenta_resource ]] on the context for checking
	[[ .fragmenta_resource ]], err := [[ .fragmenta_resources ]].Find(context.ParamInt("id"))
	if err != nil {
		view.RenderStatus(context, http.StatusNotFound)
		return
	}

	// Authorize
	if !authorise.PathAndResource(context,[[ .fragmenta_resource ]]) {
		view.RenderStatus(context, http.StatusUnauthorized)
		return
	}

	// Destroy the [[ .fragmenta_resource ]]
	[[ .fragmenta_resource ]].Destroy()

	// Redirect to [[ .fragmenta_resources ]] root
	router.Redirect(context, url.Index([[ .fragmenta_resource ]]))
}
