package [[ .fragmenta_resource ]]actions

import (
	"net/http"

	"github.com/fragmenta/auth/can"
	"github.com/fragmenta/mux"
	"github.com/fragmenta/server"
	"github.com/fragmenta/view"

	"github.com/fragmenta/fragmenta-cms/src/lib/session"
	"github.com/fragmenta/fragmenta-cms/src/[[ .fragmenta_resources ]]"
)

// HandleUpdateShow renders the form to update a [[ .fragmenta_resource ]].
func HandleUpdateShow(w http.ResponseWriter, r *http.Request) error {

	// Fetch the  params
	params, err := mux.Params(r)
	if err != nil {
		return server.InternalError(err)
	}
	
	// Find the [[ .fragmenta_resource ]]
	[[ .fragmenta_resource ]], err := [[ .fragmenta_resources ]].Find(params.GetInt([[ .fragmenta_resources ]].KeyName))
	if err != nil {
		return server.NotFoundError(err)
	}

	// Authorise update [[ .fragmenta_resource ]]
	user := session.CurrentUser(w, r)
	err = can.Update([[ .fragmenta_resource ]], user)
	if err != nil {
		return server.NotAuthorizedError(err)
	}

	// Render the template
	view := view.NewRenderer(w, r)
	view.AddKey("currentUser", user)
	view.AddKey("[[ .fragmenta_resource ]]", [[ .fragmenta_resource ]])
	return view.Render()
}

// HandleUpdate handles the POST of the form to update a [[ .fragmenta_resource ]]
func HandleUpdate(w http.ResponseWriter, r *http.Request) error {

	// Fetch the  params
	params, err := mux.Params(r)
	if err != nil {
		return server.InternalError(err)
	}
	
	// Find the [[ .fragmenta_resource ]]
	[[ .fragmenta_resource ]], err := [[ .fragmenta_resources ]].Find(params.GetInt([[ .fragmenta_resources ]].KeyName))
	if err != nil {
		return server.NotFoundError(err)
	}

	// Check the authenticity token
	err = session.CheckAuthenticity(w, r)
	if err != nil {
		return err
	}

	// Authorise update [[ .fragmenta_resource ]]
	err = can.Update([[ .fragmenta_resource ]], user)
	if err != nil {
		return server.NotAuthorizedError(err)
	}

	// Validate the params, removing any we don't accept
	[[ .fragmenta_resource ]]Params := [[ .fragmenta_resource ]].ValidateParams(params.Map(), [[ .fragmenta_resources ]].AllowedParams())

	err = [[ .fragmenta_resource ]].Update([[ .fragmenta_resource ]]Params)
	if err != nil {
		return server.InternalError(err)
	}

	// Redirect to [[ .fragmenta_resource ]]
	return server.Redirect(w, r, [[ .fragmenta_resource ]].ShowURL())
}
