@font-face {
    font-family: Lato;
    src: url(/assets/fonts/lato.ttf);
}

body {
    font: 1.3em/1.6em "Lato", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: normal;
    color: #666;
    font-weight: 300;
    font-style: normal;
    margin: 0.2em 0 0 0;
    line-height: 1.5em;
    padding: 0;
}

h1,
h2 {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-style: normal;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: #05afe7;
    text-align: center;
}

h2 {
    color: #555;
}

h2 b {
    color: #888;
}

h3 {
    font-size: 3.0rem;
}

h4 {
    font-size: 2.0rem;
}

h5 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

a {
    text-decoration: none;
    color: #ea8c06;
}

a:hover {
    color: #ff9804;
}

p {
    margin: 0.2rem 0 1rem 0;
}

code {
    white-space: normal;
    font-size: 0.8em;
    color: #aaa;
    background-color: #334;
    padding: 1rem 2rem;
    display: block;
    white-space: pre;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

ul.list {
    list-style: disc;
    padding: 0 0 0 2rem;
    color: #444;
}

ul.inline,
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

ul.inline li,
nav ul li {
    display: inline-block;
    white-space: nowrap;
    margin: 0 0 0.2rem 0;
    padding: 0 1rem;
}

nav ul li a {
    display: block;
}

header a {
    line-height: 2rem;
    color: #fff;
}

header a:hover {
    color: #fff;
}

header {
    margin: 0 0 0 0;
    color: #fff;
    border-bottom: 2px solid #f1e42a;
    background-color: #f49a18;
}

footer {
    clear: both;
    font-size: 0.7em;
    line-height: 1.2em;
    text-align: center;
    padding: 1rem 0;
    margin: 3rem 0 0 0;
}

nav {
    clear: both;
    font-size: 0.8em;
    font-weight: 300;
    padding: 0.2rem 0;
}

nav.admin {
    background-color: #000;
}

article {
    clear: both;
    padding: 0;
    min-height: 50rem;
}

section {
    clear: both;
    display: block;
    margin: 1rem auto;
}

section.feature {
    background-color: #05afe7;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
    padding: 0 0 0.5rem 0;
}

section.feature a,
section.feature h3,
section.feature h4,
section.feature h5 {
    color: #fff;
}

section.feature h5 {
    font-size: 0.9rem;
    margin: 0.2rem 1rem 0.5rem 1rem;
}

section.padded {
    padding: 0 2rem;
    max-width: 80em;
}

section.narrow {
    padding: 0 2rem;
    max-width: 40em;
}