

.setup {
  text-align:center;
}

.setup h2 {
  color:#f49a18;
}

.setup form input {
  margin:1rem 0.5rem;
}

/*  HOME */

section.header {
  text-align:center;
  min-height:42rem;
}


img.logo  {
  display:block;
  margin:2rem auto;
  height:100px;
}

.page-content {
  padding:0;
  margin:0;
}

.page-content label {
  padding-left:2rem;
}
