<div class="row [[ .fragmenta_resources ]]_form">
<form method="post" class="resource-update-form">
    <section class="actions">
        <input type="submit" class="button" value="Save">
        <a class="button grey" href="javascript:history.back()">Cancel</a>
    </section>
  
    <section class="inline-fields">
    [[ .fragmenta_form_fields ]]
    </section>
    


</form>
</div>