<div class="row [[ .fragmenta_resources ]]_form">
<form method="post" >
    <div class="inline-fields">
    [[ .fragmenta_form_fields ]]
    </div>
    
    <div class="actions">
        <input type="submit" class="button" value="Save">
    </div>

</form>
</div>